<table class="body">
	<tr>
		<td style="font-size: 18px; text-align: center">
			{{name}}, ваше замовлення прийнято!
		</td>
	</tr>
	<tr>
		<td style="text-align: center">
			<p style="margin: 17px 0 0;">
				Замовлення обробляється.
			</p>
			<p style="margin: 17px 0 0;">
				Замовлення:
			</p>
			<p style="margin: 17px 0 0;">
				Номер замовлення: {{id}},
				Ім'я: {{name}},
				Назва компанії: {{companyName}},
				Моб. телефон: {{phone}},
				Email: {{email}},
				Місто: {{city}},
				Адреси: {{addresses}},
				Нотатки: {{message}},
			</p>
		</td>
	</tr>
</table>